<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:icon="@drawable/cashflowapp_logo_bordo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/cashflowapp_logo_bordo"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.CashFlow"
        android:usesCleartextTraffic="true">

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.CashFlow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/camera_path" />
        </provider>
        <meta-data android:name="com.mapbox.token" android:value="sk.eyJ1IjoiZ2lvc2NhIiwiYSI6ImNsdHg5ZHJodTAzb2Yyamtuc2VxaGt5eHUifQ.I1ZMeDzax5cvvHtRWC5v9g"/>

    </application>

</manifest>